:root {
    /* colors */



    --color-primary: white;
    --color-secondary: #ffffff;
    /* --color-secondary: #FFC145; */
    --text-primary: black;
    --text-secondary: rgb(0, 0, 0);
    /* Hover */
    --hover-primary: rgb(228, 227, 227);
    --hover-secondary: #cecccc;
    /* --hover-secondary: #E5A935; */
    /* Active */
    --active-primary: rgb(196, 196, 196);
    --active-secondary: #bdbdbd;
    /* --active-secondary: #CC9128; */

    /*disabled */
    --disabled-primary: rgb(196, 196, 196);
    --disabled-secondary: #969696;
    /* --disabled-secondary: #FFE5A8; */

    --border-primary-color: rgba(128, 128, 128, 0.295);
    --border-secondary-color: rgb(0, 0, 0);
    /* --border-secondary-color: white; */
    --footer-color: black;
    --footer-text: white;
    --default-border: 1px solid var(--border-primary-color);
    --secondary-border: 1px solid var(--border-secondary-color);



    /* break points */

    /* Small devices (phones) */
    --breakpoint-xs: 480px;
    /* Medium devices (tablets) */
    --breakpoint-sm: 768px;

    /* Larger tablets and small desktops */
    --breakpoint-md: 1024px;
    /* Desktops and larger screens */
    --breakpoint-lg: 1200px;


    /* z indicies */

    /* Navbar z-index */
    --z-index-navbar: 100;
    /* Modal z-index */
    --z-index-modal: 200;
    /* Tooltip z-index */
    --z-index-tooltip: 300;


    /* spacing */

    /* Extra small spacing */
    --space-xs: 8px;
    /* Small spacing */
    --space-sm: 16px;
    /* Medium spacing */
    --space-md: 32px;
    /* Large spacing */
    --space-lg: 64px;
    /* Extra large spacing */
    --space-xl: 128px;


    font-family: "Montserrat", serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: var(--text-primary);
}


.btn-color {
    background-color: var(--color-primary);
    color: var(--text-primary);
    cursor: pointer;
}

.btn-shape {
    border: var(--default-border);
    border-radius: 7px;
}

.btn-color:hover {
    background-color: var(--hover-primary);
}

.btn-color:active {
    background-color: var(--active-primary);
}

.btn-color-active {
    background-color: var(--active-primary);
}

.btn-color:disabled {
    background-color: var(--disabled-primary);
    cursor: not-allowed;
}



.btn-sec-color {
    background-color: var(--color-secondary);
    color: var(--text-secondary);
    cursor: pointer;
}

.btn-sec-shape {
    border: var(--default-border);
    border-radius: 7px;
}

.btn-sec-color:hover {
    background-color: var(--hover-secondary);
}

.btn-sec-color:active {
    background-color: var(--active-secondary);
}

.btn-sec-color-active {
    background-color: var(--active-secondary);
}

.btn-sec-color:disabled {
    background-color: var(--disabled-secondary);
    cursor: not-allowed;
}

.drag-image {
    margin: 5px;
    border-radius: 7px;
    overflow: hidden;
}

.drag-image-inner {
    scale: 1;
    padding: 10px;
    transition: all 0.1s ease-out;

}

.drag-image-inner:hover {
    scale: 1.05;
}

.header {
    border-bottom: var(--default-border);
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--color-primary);
}

.mobile-nav {

    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: white;
    transition: all 0.5s ease-out;
    z-index: 100;
    min-width: 250px;
    padding: 16px;
}

.mobile-nav-closed {
    transform: translate(100%);
}


.start-creating {
    padding: var(--space-sm);
    border-radius: 5px;
    border: var(--secondary-border);
    text-decoration: none;
    display: inline-block;
}



.template {
    transition: all 0.2s ease-in-out;
    scale: 1;
}



.template-like {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all ease-out 0.2s;
    border-radius: 50%;
    padding: 5px;

}

.template-like:hover {
    background-color: var(--hover-primary);

}

.template-like-pressed {
    animation: normal 0.5s template-like-press;
}

@keyframes template-like-press {
    0% {
        scale: 1.1;
    }

    30% {
        scale: 1.3;
    }

    70% {
        scale: 0.8;
    }

    100% {
        scale: 1;
    }

}

.template-like:hover {
    scale: 1.1;
}

.template-like:hover .template-like-icon {
    color: red;
}

.template-pagination {
    margin-top: var(--space-md);
}

.template-img {
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: contain;
    object-position: bottom;
    filter: drop-shadow(-16px -5px 2px var(--hover-primary));
}

.template-name {
    margin-top: var(--space-sm) 0;
    font-size: 1.125em;
    font-weight: bolder;
}

.template:hover {
    cursor: pointer;
}

.tag {
    background-color: var(--color-secondary);
    color: var(--text-secondary);
    border-radius: 5px;
    border: var(--default-border);
    padding: var(--space-xs);
    margin-right: var(--space-xs);
    font-size: 0.8em;
    display: inline-block;
}

.tag:hover {
    background-color: var(--hover-secondary);
}

.footer {
    background-color: var(--footer-color);
    color: var(--footer-text)
}

.footer_top {
    display: flex;
    justify-content: center;
    padding: var(--space-sm);
    border-top: var(--default-border);
    gap: var(--space-sm);
}

.footer_bottom {
    display: flex;
    justify-content: center;
    height: 50px;
    border-top: var(--default-border);
}

.footer-link {
    color: var(--footer-text)
}


.resizable {
    position: absolute !important;
    display: flex;
    flex-direction: column;
    z-index: var(--z-index-modal);
    background-color: var(--color-primary);
    margin: 0;
    padding: 0;
    padding-right: 10px;
    padding-bottom: 10px;
}

.resizable-minimized {
    transition: all ease-in-out 0.2s;

}

.pieces-container-select-label {
    color: var(--text-primary);
}

.flex {
    display: flex;
}

.contextMenu_container {
    z-index: 1;
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.contextMenu_container>* {
    pointer-events: auto;
}

.settings-movemode-buttons {
    display: flex;
    border-radius: 7px;
    border: var(--default-border);
    overflow: hidden;
}

.settings-movemode-button {
    flex-grow: 1;
    border: none;
    border-radius: 0;
}

.settings-movemode-button:hover {
    background-color: var(--hover-secondary);
}

.settings-movemode-button-active {
    background-color: var(--active-primary);
    color: var(--text-secondary);
}

.settings-screenshot {

    width: 100%;
    border-radius: 7px;
    border: var(--default-border);
}

.windowsbar-button {
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 7px;
    pointer-events: all;
    margin: 2px;
}

.windowsbar-button-active {
    background-color: var(--active-primary);
}

.contextmenu-button {
    pointer-events: all;
    padding: 7px;
    background-color: transparent;
    border: none,
}

.contextmenu-button:hover {
    background-color: var(--hover-secondary);
    cursor: pointer;
}

.piece-card-image {
    -webkit-box-shadow: 0px 2px 17px -1px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 0px 2px 17px -1px rgba(0, 0, 0, 0.43);
    box-shadow: 0px 2px 17px -1px rgba(0, 0, 0, 0.43);
}


.cart-items {
    border: var(--default-border);
}

/* .cart-item-container:not(:last-child) {
    border-bottom: var(--default-border);
} */


.about-section-container {
    display: flex;
    transition: all 0.5s ease-out;
    gap: var(--space-sm);
    margin: auto;
    max-width: 1600px;
    justify-content: space-around;
    align-items: center;
}

.about-section-split {
    max-width: 500px;
    line-height: 2;
    flex-basis: 50%;
    padding: var(--space-sm);
    transition: all 0.5s ease-out;
    transform: translate(0);
}

.about-section-move-right {
    transform: translate(500px);

}

.about-section-move-left {
    transform: translate(-500px);
}

.about-section-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    aspect-ratio: 5/4;


}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}



.header__right {

    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.header__hamburger {
    display: none;

}

.p-sm {
    padding: var(--space-sm);
}

.pt-sm {
    padding-top: var(--space-sm);
}

.m-sm {
    margin: var(--space-sm);
}

.m-md {
    margin: var(--space-md);
}

.m-lg {
    margin: var(--space-lg);
}

.mb-lg {
    margin-bottom: var(--space-lg);
}

.mb-xl {
    margin-bottom: var(--space-xl);
}

.mx-sm {
    margin-right: var(--space-sm);
    margin-left: var(--space-sm);
}

.my-xl {
    margin-top: var(--space-xl);
    margin-bottom: var(--space-xl);
}

.txt-center {
    text-align: center;
}

.flex-center-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.opacity-0 {
    opacity: 0;
}

.opacity-100 {
    opacity: 1;
}

.overflow-hidden {
    overflow: hidden;
}

.relative {
    position: relative;
}

.home_team-member_img {
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}


.color-gray {
    background-color: #e9e9e9;
}

.color-primary {
    background-color: var(--color-primary);
}

@media (max-width: 768px) {
    .about-section-container {
        flex-direction: column;
    }

    .header__right {
        display: none;
    }

    .header__hamburger {
        display: block;
    }

}