:root {
    /* colors */

    /* --color-primary: white;
    --color-secondary: black;
    --text-primary: black;
    --text-secondary: white;
    --hover-primary: rgb(199, 189, 189);
    --hover-secondary: rgb(54, 53, 53);
    --border-primary-color: black;
    --border-secondary-color: white;

    --default-border: 1px solid var(--border-primary-color);
    --secondary-border: 1px solid var(--border-secondary-color); */


    --color-primary: white;
    --color-secondary: white;
    --text-primary: black;
    --text-secondary: black;
    /* Hover */
    --hover-primary: rgb(228, 227, 227);
    --hover-secondary: #e2e2e29c;
    /* Active */
    --active-primary: rgb(196, 196, 196);
    --border-primary-color: black;
    --border-secondary-color: white;
    --footer-color: black;
    --footer-text: white;
    --default-border: 1px solid var(--border-primary-color);
    --secondary-border: 1px solid var(--border-secondary-color);



    /* break points */

    /* Small devices (phones) */
    --breakpoint-xs: 480px;
    /* Medium devices (tablets) */
    --breakpoint-sm: 768px;
    /* Larger tablets and small desktops */
    --breakpoint-md: 1024px;
    /* Desktops and larger screens */
    --breakpoint-lg: 1200px;


    /* z indicies */

    /* Navbar z-index */
    --z-index-navbar: 100;
    /* Modal z-index */
    --z-index-modal: 200;
    /* Tooltip z-index */
    --z-index-tooltip: 300;


    /* spacing */

    /* Extra small spacing */
    --space-xs: 8px;
    /* Small spacing */
    --space-sm: 16px;
    /* Medium spacing */
    --space-md: 32px;
    /* Large spacing */
    --space-lg: 64px;
    /* Extra large spacing */
    --space-xl: 128px;



}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


.btn-color {
    background-color: var(--color-secondary);
    color: var(--text-primary);
}

.btn-shape {
    border: var(--default-border);
    width: 100%;
    border-radius: 7px;
}

.btn-color:hover {
    background-color: var(--hover-secondary);
}

.btn-color:active {
    background-color: var(--active-primary);
}

.btn-color-active {
    background-color: var(--active-primary);
}


.drag-image {

    margin: 5px;
    border-radius: 7px;
    overflow: hidden;
}

.drag-image-inner {
    scale: 1;
    padding: 10px;
    transition: all 0.1s ease-out;

}

.drag-image-inner:hover {
    scale: 1.05;
}

.header {
    border-bottom: var(--default-border);
    padding: var(--space-sm) 0;
}


.start-creating {
    background-color: var(--color-secondary);
    color: var(--text-secondary);
    padding: var(--space-sm);
    border-radius: 5px;
    border: var(--default-border);
    text-decoration: none;
    display: inline-block;
}

.start-creating:hover {
    background-color: var(--hover-secondary);
}

.start-creating:active {
    background-color: var(--active-primary);
}


.template {
    transition: all 0.2s ease-in-out;
    scale: 1;
}



.template-like {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all ease-out 0.2s;
    border-radius: 50%;
    padding: 5px;

}

.template-like:hover {
    background-color: var(--hover-primary);

}

.template-like-pressed {
    animation: normal 0.5s template-like-press;
}

@keyframes template-like-press {
    0% {
        scale: 1.1;
    }

    30% {
        scale: 1.3;
    }

    70% {
        scale: 0.8;
    }

    100% {
        scale: 1;
    }

}

.template-like:hover {
    scale: 1.1;
}

.template-like:hover .template-like-icon {
    color: red;
}

.template-pagination {
    margin-top: var(--space-md);
}

.template-img {
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: contain;
    object-position: bottom;
    filter: drop-shadow(-16px -5px 2px var(--hover-primary));
}

.template-name {
    margin-top: var(--space-sm) 0;
    font-size: 1.125em;
    font-weight: bolder;
}

.template:hover {
    cursor: pointer;
}

.tag {
    background-color: var(--color-secondary);
    color: var(--text-secondary);
    border-radius: 5px;
    border: var(--default-border);
    padding: var(--space-xs);
    margin-right: var(--space-xs);
    font-size: 0.8em;
    display: inline-block;
}

.tag:hover {
    background-color: var(--hover-secondary);
}

.footer {
    background-color: var(--footer-color);
    color: var(--footer-text)
}

.footer_top {
    display: flex;
    justify-content: center;
    padding: var(--space-sm);
    border-top: var(--default-border);
    gap: var(--space-sm);
    /* background-color: var(--color-secondary); */
}

.footer_bottom {
    display: flex;
    justify-content: center;
    height: 50px;
    border-top: var(--secondary-border);
}

.footer-link {
    color: var(--footer-text)
}


.resizable {
    position: absolute !important;
    display: flex;
    flex-direction: column;
    z-index: var(--z-index-modal);
    background-color: var(--color-primary);
    margin: 0;
    padding: 0;
    padding-right: 10px;
    padding-bottom: 10px;
}

.resizable-minimized {
    transition: all ease-in-out 0.2s;

}

.pieces-container-select-label {
    color: var(--text-primary);
}

.flex {
    display: flex;
}

.contextMenu_container {
    z-index: 1;
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.contextMenu_container>* {
    pointer-events: auto;
}

.settings-movemode-buttons {
    display: flex;
    border-radius: 7px;
    border: var(--default-border);
    overflow: hidden;
}

.settings-movemode-button {
    flex-grow: 1;
    border: none;
    border-radius: 0;
}

.settings-movemode-button:hover {
    background-color: var(--hover-secondary);
}

.settings-movemode-button-active {
    background-color: var(--active-primary);
    color: var(--text-secondary);
}

.settings-screenshot {

    width: 100%;
    border-radius: 7px;
    border: var(--default-border);
}

.windowsbar-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 7px;
    pointer-events: all;
    margin: 2px;
}

.windowsbar-button:hover {
    background-color: var(--hover-primary);
}

.windowsbar-button-active {
    background-color: var(--active-primary);
}


.contextmenu-button {
    pointer-events: all;
    padding: 7px;
    background-color: transparent;
    border: none,
}

.contextmenu-button:hover {
    background-color: var(--hover-secondary);
    cursor: pointer;
}

.piece-card-image {
    -webkit-box-shadow: 0px 2px 17px -1px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 0px 2px 17px -1px rgba(0, 0, 0, 0.43);
    box-shadow: 0px 2px 17px -1px rgba(0, 0, 0, 0.43);
}


.cart-items {
    border: var(--default-border);
}

.cart-item-container:not(:last-child) {
    border-bottom: var(--default-border);
}